
#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15%;
}
.navbar{
    padding-top: 2%;
}
.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
/* body{
    font-family: 'Montserrat', sans-serif;

} */

.download-bt{
    margin: 5% 3% 5% 0;
}
.imgs{
    width: 62%;
    transform: rotate(30deg);
    position: relative;
    left: 30%;
}


.intro{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;

    padding-top: 30%;
}

.secpg{
    width: 33%;
    padding: 10% 7%;
    text-align: center;
}
.hds{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5; 

}
.emoji{
    
    color: #ef8172 ;
    margin-bottom: 1rem;
}
.emoji:hover{
    color: #ff4c68;
}
.x{
    color: gray;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5; 
}
#feature{
    background-color: white;
    position: relative;
    z-index: 1;
}


#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.im2{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item active{
    padding: 7% 15%;
}
.carousel-item {
    padding: 7% 15%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.price-col{
    padding: 2% 3%;
}

#cta{
    background-color: #ff4c68;
    color: white;
    padding: 10% 15%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}
.btns{
    text-align: center;
}
/* .button{
    position: absolute;
    top: 50%;
} */
#footer{
    background-color: white;
    color: gray;
    text-align: center;
    padding: 5% 5%;
    margin: 2%;
}
.icns{
    margin: 10px 20px;
}